body{
    background-color:hsl(200, 15%, 85%);
    font-family: sans-serif;
    text-align: left;
}
h1{
    color: #333333;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}
h2{
    background-color: hsl(200, 15%, 55%);
    color: hsl(200, 15%, 30%);
    font-size: 200%;
    text-decoration: underline;
}
h3{
    background-color: lightgrey;
    color: gray;
    font-style: italic;
}
p{
    background-color: hsl(200, 15%, 75%);
}
strong{
    color: rgb(49, 114, 126);
    font-weight: normal;
}
em{
    color: blue;
    font-weight: bold;
    font-style: normal;
}